.ProjectContainer {
    display: inline-block;
    background-color: white;
    height: 380px;
    width: 290px;
    position: relative;
    top: 90px;
    margin-right: 40px;
    left: 28%;
}

.ProjectBtn {
    background-color: #818181;
    width: 270px;
    color: white;
    position: relative;
    top: 120px;
    right: 30px;
    padding: 7px;
    border: 1px solid #818181;
    font-size: 20px;
}

.ProjectImage {
    height: 200px;
    width: 270px;
    position: relative;
    right: 30px;
    top: 10px;
}