.HomeImage {
    height: 500px;
    text-align: center;
}

.Img {
    text-align: center;
    position: relative;
    top: 100px;
}

.CV {
    display: inline-block;
    background-color: white;
    height: 360px;
    width: 85%;
    text-align: center;
    position: relative;
    top: 140px;
    left: 7%;
    overflow-y: scroll;

}

.CVimg {
    width: 100%;
}

.ContactImg {
    display: inline-block;
    background-color: white;
    height: 492px;
    width: 50%;
    text-align: center;
    position: relative;
    top: 107px;
    left: 0%;
}
@media only screen and (max-width: 875px) {
    .ContactImg {
        display: none;
    }
  }

.ContactPage {
   height: 100px;
}

.AboutMeImg {
    display: inline-block;
    background-color: white;
    height: 492px;
    width: 50%;
    text-align: center;
    position: relative;
    top: 107px;
    left: 0%;
}
@media only screen and (max-width: 1285px) {
    .AboutMeImg {
        height: 492px;
        width: 30%;
        margin-left: -5%;
    }
  }
  @media only screen and (max-width: 1220px) {
    .AboutMeImg {
        margin-left: -15%;
    }
  }
  @media only screen and (max-width: 964px) {
    .AboutMeImg {
        width: 865px;
        height: 300px;
    }
  }
  @media only screen and (max-width: 675px) {
    .AboutMeImg {
        width: 500px;
        height: 200px;
    }
  }

.AboutMeImage {
    height: 506px;
    width: 768px;
    background-size: cover;
}
@media only screen and (max-width: 964px) {
    .AboutMeImage {
        width: 100%;
        height: 170%;
    }
  }


.AboutMePage {
   height: 100px;
}

.AboutMeText {
    display: inline-block;
    height: 300px;
    width: 500px;
    text-align: center;
    position: relative;
    left: 10%;
    bottom: 85%;
    font-size: 20px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

@media only screen and (max-width: 1284px) {
    .AboutMeText {
        margin-left: 48%;
        position: relative;
        bottom: 330px;
    }
  }
  @media only screen and (max-width: 1220px) {
    .AboutMeText {
        position: relative;
        bottom: 100px;
        margin-left: 28%;
    }
  }
  @media only screen and (max-width: 1135px) {
    .AboutMeText {
        font-size: 16px;
        width: 250px;
        position: relative;
        left: 23%;
    }
  }
  @media only screen and (max-width: 964px) {
    .AboutMeText {
        background-color: #b3bdac;
        position: relative;
        bottom: 407%;
        left: 30%;
        height: 480px;
        width: 42%;
    }
  }
  @media only screen and (max-width: 675px) {
    .AboutMeText {
        position: relative;
        bottom: 238%;
    }
  }
.Footer {
    width: 100%;
    height: 202px;
    background-color: #818181;
    text-align: center;
  
    position: fixed;
    bottom: 0;
    left: 0;
}

.Footer > h1 {
    font-weight: 400;
    font-size: 80px;
    position: relative;
    bottom: 70px;
}
.Footer > p {
    font-weight: 400;
    font-size: 24px;
    position: relative;
    bottom: 130px;
}