body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b3bdac;
}

.App {
    text-align: center;
  }
  
.Topbar {
    width: 100%;
    height: 70px;
    background-color: #818181;
    padding: 24px 48px 12px;
    text-align: center;
  
    position: fixed;
    top: 0;
    left: 0;
}

.Topbar > ul {
    margin: 120px;
}

.ListItem{
    float: left;
    font-size: 24px;
    list-style: none;
    margin-right: 180px;
    position: relative;
    bottom: 110px;
}

.SelectedMenuItem{
    border: 3px solid white;
}

@media only screen and (max-width: 1530px) {
    .ListItem {
        margin-right: 100px;
    }
  }
  @media only screen and (max-width: 1540px) {
    .ListItem {
        margin-right: 80px;
    }
  }
  @media only screen and (max-width: 1290px) {
    .ListItem {
        margin-right: 60px;
    }
  }
  @media only screen and (max-width: 1170px) {
    .ListItem {
        margin-right: 40px;
    }
  }
  @media only screen and (max-width: 1050px) {
    .ListItem {
        margin-right: 20px;
    }
  }

  /* .hamburger {
    width: 2rem; 
        height: 2rem; 
        display: flex; 
        justify-content: space-around; 
        flex-flow: column nowrap; 
    
        position: relative;
        right: 1400px;
        bottom: 110px;
}

.burger { 
    width: 2rem; 
    height: 0.25rem; 
    border-radius: 10px; 
    background-color: white; 
    transform-origin: 1px; 
    transition: all 0.3s linear; 
}
    
@media (max-width: 1230px){
    .hamburger{ 
        display: fixed;
    }
} */