body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b3bdac;
}

.App {
    text-align: center;
  }
  
.Topbar {
    width: 100% !important;
    height: 90px !important;
    background-color: #818181 !important;
}

.LinkContainer {
    margin-right: 20px !important;
    float: left;
}

.ListItems{
    margin-right: 50px !important;
    color: white !important;
    position: relative;
    left: 13%;
    background-color: #818181 !important;
}

.ListItem{
    color: white !important;
}

.ListItem:active{
    border: 3px solid white !important;
}

@media only screen and (max-width: 1490px) {
    .ListItem {
        margin-right: 5%;
    }
  }
  @media only screen and (max-width: 1080px) {
    .ListItem {
        margin-right: 3%;
    }
  }
  @media only screen and (max-width: 940px) {
    .ListItem {
        display: none;
    }
  }

  .LoginCard {
      text-align: center;
      margin: 0 auto;
      position: relative;
      top: 50px;
      border: 3px solid #818181;
      border-radius: 5%;
      width: 25%;
      padding: 20px;
      color: #000;
      background-color: white;
  }